<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bt.andy.fusheng">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.bt.andy.fusheng.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bt.andy.fusheng.MainActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.bt.andy.fusheng.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.bt.andy.fusheng.activity.ReceiveListActivity"/>
        <activity android:name="com.bt.andy.fusheng.activity.RecSheetDetailActivity"/>
        <activity android:name="com.bt.andy.fusheng.activity.CheckProListActivity"/>
        <activity android:name="com.bt.andy.fusheng.activity.PutDetailActivity"/>
        <activity android:name="com.bt.andy.fusheng.activity.SaomiaoUIActivity"/>
        <activity android:name=".activity.PutProListActivity"/>
    </application>

</manifest>